<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Project 2 Homepage</title>
  </head>
  <body>
    <div class ="container">
      <div class="page-header">
        <h1>HOMESCREEN</h1>
      </div>
      <div class="jumboton">
        <nav>
          <a href="/RUNKC/practice">Practice</a>
          <a href="/RUNKC/tips">Tips</a>
          <a href="/RUNKC/yardsale">Yardsale</a>
          <a href="/RUNKC/profile">Profile</a>
          <a href="/auth/login">Login</a>
          <a href="/auth/signup">Signup</a>
          <a href="/auth/logout">Logout</a>
        </nav>
      </div>
    </div>
    



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.j"></script>
  </body>
</html>